---
authors:
  - brad-czerniak
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
front: true
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 1
  footer: 1
  main: 1
#  utility: 1
meta:
  description: "Brad Czerniak is a Drupal and JAMstack developer in Michigan."
#  image:
#    alt: "Default social image"
#    src: required/meta-image--default.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
#permalink: /index.html
#published: true
redirect_from:
  - /home
#schema:
#  type: "Thing"
sections:
  - freshness
  - cta
  - mailchimp
#sitemap: true
#tags: ["three", "four"]
title: "Home"
---

<section class="layout--stripe background-color--grey-dark background-image--hero-home background-size--cover
  color--white text-align--center background-image-display-mobile--hide" id="home">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Brad would rather be at trivia night"
      classes=""
      level="1"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="display--flex flex-direction--column justify-content--center">
        <p class="font-size--2em">
          &hellip;but if he has to <a href="https://solveitonce.com">develop your Drupal or JAMstack website or solve your business
          problems <em>once</em></a>, trivia can wait.
        </p>
      </aside>
    </div>
  </div>
</section>

<section class="layout--stripe">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Biography"
      classes="text-align--center"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="display--flex flex-direction--column justify-content--center">
        <p>
          Brad Czerniak is a web developer and freelance librarian in Metro Detroit, Michigan, specializing in
          <a href="https://frostdrupal.com/">Drupal</a> and the JAMstack. You can hire his unique blend of skills through
          his company, <a href="https://solveitonce.com">Solve it once</a> and contribute to his open-source initiative via
          <a href="https://lowerbarriers.org">Lower barriers</a>.
        </p>

        <p>
          In his down time, Brad enjoys classic films, sitcoms, trivia and British panel shows, and documentaries.
          He occasionally leaves his bungalow headquarters to play frisbee sports. You
          may see him jogging the streets of his town as well.
        </p>

        <p class="text-align--center">
          <a class="button" href="/about/">Learn more about Brad</a>
        </p>
      </aside>
    </div>
  </div>
</section>

<section class="layout--stripe background-color--grey-light text-align--center">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="The answer is <strong class='text-transform--uppercase font-weight--900'>yes</strong>"
      classes="font-weight--100"
      level="2"
    %}

    {% include atoms/spacer.html size="2" %}

    <p class="font-size--p875em">
      Brad loves doing presentations/talks and writing in-depth articles, and is interested in your next event or guest
      writing on your blog. Similarly, if you'd like to do a talk or write a guest post, Brad has this site,
      <a href="https://solveitonce.com">Solve it once</a>, <a href="https://lowerbarriers.org">Lower barriers</a>,
      and organizes a few Michigan <a href="https://www.meetup.com/devops-detroit/">technology</a>
      <a href="https://www.meetup.com/ann-arbor-php/">meetup</a> <a href="https://www.meetup.com/lansingweb/">groups</a>.
    </p>

    {% include atoms/spacer.html size="2" %}

    <div class="display--flex layout--row justify-content--center text-align--left">
      <aside class="flex--1 padding-horizontal--4 padding-horizontal--collapse">
        {% include atoms/heading.html
          children="Speaking"
          classes="font-family--secondary"
          level="3"
        %}

        <p>
          Brad has talked at lots of conferences, workshops, camps, and webinars over the years, and would like to add to
          his CV, perhaps on one of these topics:
        </p>
        <ul>
          <li>Web development (Drupal, JAMstack, vanilla CSS/JS, etc.)</li>
          <li>Web tech in public libraries</li>
          <li>Low-overhead business solutions</li>
          <li>Semantics, literacy, the data/information divide, and epistemology</li>
          <li>Personal productivity</li>
        </ul>
      </aside>

      <aside class="flex--1 padding-horizontal--4 padding-horizontal--collapse">
        {% include atoms/heading.html
          children="Guest posting"
          classes="font-family--secondary"
          level="3"
        %}

        <p>
          On both sides of the coin, guest posts should be high-quality, substantive pieces of writing, even if there's
          some cross-linking and self-promotion. Here are some topics for posts Brad could write for you:
        </p>
        <ul>
          <li>Trends in the Drupal contrib space</li>
          <li>Deep dive into a particular module or theme</li>
          <li>Step-by-step guide to creating a website feature</li>
          <li>Glimpse into project management and team dynamics</li>
          <li>Great lunch ideas, and the best YouTube videos to pair them with</li>
        </ul>
      </aside>
    </div>

    {% include atoms/spacer.html size="4" %}

    <p class="font-size--p875em">
      Let's start a conversation! Hmu@ <a href="mailto:ao5357@gmail.com">ao5357@gmail.com</a> for personal or
      <a href="mailto:brad@solveitonce.com">brad@solveitonce.com</a> for business. Or, text (please don't call me, I hate
      that lol) <a href="tel:+12487210350">(248) 721-0350</a> for personal or <a href="tel:+13135097214">(313) 509-7214</a>
      for business.
    </p>
  </div>
</section>

<section class="layout--stripe background-color--main-light">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Are you a recruiter?"
      classes="text-align--center"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="flex--2 padding-horizontal--4">
        <p>
          I'm glad you're here, collecting more background info! Here are some points to save you time:
        </p>
        <ul>
          <li>If the rate is $70/hr or lower I'm probably not interested</li>
          <li>I prefer part-time, but entertain 6-month contract-to-hire. No long-term</li>
          <li>If the posting contains the word 'Drupal' I'll take a look</li>
          <li>I'm senior-level, full-stack, experienced with architecture, technical PM, and leadership. Much more likely
            to do a backend (custom modules) gig than all front-end</li>
          <li>A 'decoupled' project or any posting about React/Angular/etc. is probably not my speed</li>
        </ul>
      </aside>
      <aside class="flex--1 padding-horizontal--4">
        <p>
          ...and here's links and documents:
        </p>
        <ul>
          <li><a href="https://www.linkedin.com/in/bczerniak">Connect with me on LinkedIn</a></li>
          <li><a href="https://resume.bradczerniak.com/">Canonical Resume</a></li>
          <li><a href="{{ site.subpath }}/assets/other/Resume_Brad-Czerniak_Drupal.docx"
            download="Resume_Brad-Czerniak_Drupal.docx"
          >docx Resume you can edit</a></li>
          <li><a href="mailto:brad@solveitonce.com">brad@solveitonce.com</a></li>
          <li><a href="tel:+13135097214">(313) 509-7214</a> for business</li>
        </ul>
      </aside>
    </div>
  </div>
</section>

<section class="layout--stripe text-align--center">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Office hours"
      classes="font-weight--900"
      level="2"
    %}

    {% include atoms/spacer.html size="2" %}

    <div class="display--flex layout--row flex-direction--row-reverse justify-content--center text-align--left">
      <aside class="flex--1 padding-horizontal--4 padding-horizontal--collapse">
        {% include atoms/image.html
          src="1200x630/tuscan-sign.jpg"
          alt="Sign for Tuscan Cafe in Northville, as seen on Main Street"
          classes="box-shadow--lifted-edges"
        %}

        {% include atoms/spacer.html size="4" %}
      </aside>

      <aside class="flex--1 padding-horizontal--4 padding-horizontal--collapse">
        <p>
          Need some face time with Brad? You can find him at
          <a href="http://www.thetuscancafe.com/">Tuscan Café in Northville, Michigan</a>, on the second Thursday
          of every month, from 1:00 PM to 5:00 PM.
        </p>

        <p>
          Want the recurring calendar invite? Just email <a href="mailto:brad@solveitonce.com">brad@solveitonce.com</a>
          and I'll get you added.
        </p>
      </aside>
    </div>
  </div>
</section>
